<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{% block title %} add User {% endblock %}</title>
<link rel="stylesheet" type="text/css" href="style.css"> <!-- Подключаем внешнюю таблицу стилей -->
</head>
<body>

  <hr>
  <hr>

<form action="{% url 'addNewRole' %}" method="post">

  {% csrf_token %}

  <input type="text" required placeholder="Role Name" name="role_name"><br>
  <button type="submit" name="button">Submit New Role</button>

</form>

  <br>
  <br>

  <form action="{% url 'addNewOrg' %}" method="post">

    {% csrf_token %}

    <input type="text" required placeholder="Organization Name" name="org_name"><br>
    <button type="submit" name="button">Submit New Organization</button>

  </form>


</body>
