<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{% block title %} add User {% endblock %}</title>
<link rel="stylesheet" type="text/css" href="style.css"> <!-- Подключаем внешнюю таблицу стилей -->
</head>
<body>

  <hr>
  <hr>

<form action="{% url 'add' %}" method="post">

  {% csrf_token %}

  <input type="text" required placeholder="Username" name="username"><br>
  <input type="text" required placeholder="Paswword" name="password"><br>
  <br>
  <input type="text" required placeholder="Name" name="name"><br>
  <input type="text" required placeholder="Sername" name="sername"><br>
  <input type="text" required placeholder="lastName" name="lastname"><br>
  <br>
  <!-- <tt><input type="text" required placeholder="Role" name="role_name"><br>
  <input type="text" required placeholder="Organization" name="org_name"> -->
  {% for form in formset%}
    {{form}}
    <br>
  {% endfor %}

    <br><br><button type="submit" name="button">Create User</button>

  </form>
  <br>
  <br>

  <br>
  <form method="post" action="{% url 'addRole' formset.extra|add:"-1" %}">
      {% csrf_token %}
      <input type="submit" class="btn" value="Delete Role" name="print_btn">
  </form>
<form method="post" action="{% url 'addRole' formset.extra|add:"1" %}">
    {% csrf_token %}
    <input type="submit" class="btn" value="Add Role" name="print_btn">
</form>


</body>
