<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{% block title %} Main {% endblock %}</title>
<link rel="stylesheet" type="text/css" href="style.css"> <!-- Подключаем внешнюю таблицу стилей -->
</head>
<body>
  <a href = "{% url 'users'%}">Users</a>
  <br><a href = "{% url 'addUser'%}">Add User</a>
  <br>
  <br>
  <br>
  <br><a href = "{% url 'addRoles'%}">Add Role & Organization</a>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  {% if request.user.username == '' %}
    <a href = "{% url 'loggin' %}">Login </a>
  {% else %}
    <a href = "{% url 'loggout' %}">Logout </a>
  {% endif %}
</body>
</html>
