<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{% block title %} Users {% endblock %}</title>
<link rel="stylesheet" type="text/css" href="style.css"> <!-- Подключаем внешнюю таблицу стилей -->
</head>
<body>
  {% block content %}

    Filters:
    <form action="{% url 'users' %}" method="post">
      {% csrf_token %}
      <select size = '1', name='Active'>
        <option value='None'>None</option>
        <option value='True'>Active</option>
        <option value='False'>Not Active</option>
      </select>
      <select size="3", multiple="true", name='Roles'>
          {% for role in roles %}
            <option value='{{role.role_name}}'>{{role.role_name}}</option>
          {% endfor %}
      </select>

      <button type="submit" name="button">Use Filters</button>
    </form>

    {% if names %}
      {% for a in names%}
        <br>---<br>
        Username: {{a.username}}

        <a href = "{% url 'del_user' a.username%}" style="margin-left: 10px"> delete</a>
        <a href = "{% url 'edit_user' a.username%}" style="margin-left: 20px">   edit</a>
        {% if a.is_active %}
          <strong style="margin-left: 10px">Active</strong>
        {% else %}
          <strong style="margin-left: 10px">Not Active</strong>
        {% endif %}

        {% for c in a.practitionerRoles.all %}
          <br>Role name: {{c.role_name}}
          <br> Organization: {{c.organization}}
        {% endfor %}

        <br>
        Name: {{a.practitionerRoles.first.practitioner.name}}
        Sername: {{a.practitionerRoles.first.practitioner.Given0}}
        LastName: {{a.practitionerRoles.first.practitioner.Given1}}

      {% endfor %}
    {% else %}
      No Users
    {% endif %}

  {% endblock %}
</body>
</html>
