<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{% block title %} User Edit {% endblock %}</title>
<link rel="stylesheet" type="text/css" href="style.css"> <!-- Подключаем внешнюю таблицу стилей -->
</head>
<body>
  {% block content %}

    {% if user %}
    <form action="{% url 'edit' user.first.id %}" method="post">
      {% csrf_token %}
      <input type="text" required placeholder="Username" name="username", value="{{user.first.username}}"><br>
      <input type="text" required placeholder="Paswword" name="password", value="{{user.first.password}}"><br>
      <br>
      <input type="text" required placeholder="Name" name="name", value="{{user.first.practitionerRoles.all.first.practitioner.name}}"><br>
      <input type="text" required placeholder="Sername" name="sername", value="{{user.first.practitionerRoles.all.first.practitioner.Given0}}"><br>
      <input type="text" required placeholder="lastName" name="lastname", value="{{user.first.practitionerRoles.all.first.practitioner.Given1}}"><br>
      <br>

      <br>
      Is Active
      <br>
      {% if user.first.is_active %}
        <input name="Active" type="radio" value="Active" checked> Active
        <input name="Active" type="radio" value="NotActive"> Not Active
      {% else %}
        <input name="Active" type="radio" value="Active"> Active
        <input name="Active" type="radio" value="NotActive" checked> Not Active
      {% endif %}

      <br>
      <br>
        {% for form in pracroles %}
          Role:
          <select size = '1', name='{{form.role_name}}'>
          <option value='{{form.role_name}}' selected="selected">{{form.role_name}}</option>
            {% for role in roles %}
              <option value='{{role.role_name}}'>{{role.role_name}}</option>
            {% endfor %}
          </select>

          Organization:
          <select size = '1', name='{{form.organization}}'>
          <option value='{{form.organization}}' selected="selected">{{form.organization}}</option>
            {% for org in orgs %}
              <option value='{{org}}'>{{org}}</option>
            {% endfor %}
          </select>
        <br>

        {% endfor %}

        {% for form in formset %}
            {{form}}
            <br>
        {% endfor %}

        <br><br><button type="submit" name="button">Edit</button>

    </form>

    <form method="post" action="">
        {% csrf_token %}
        <input type="hidden" name="role_count" value='{{ numb|add:"-1" }}' />
        <input type="submit" class="btn" value="Delete Role" name="del_role">
    </form>
    <form method="post" action="">
        {% csrf_token %}
        <input type="hidden" name="role_count" value='{{ numb|add:"1" }}' />
        <input type="submit" class="btn" value="Add Role" name="add_role">
    </form>

    {% else %}
      Error
    {% endif %}

  {% endblock %}
</body>
</html>
